<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><img class="logo" src="{{ site.baseurl }}/images/40th_logo.svg" alt="{{ site.title }}"></li>
          <br>
          <li><a class="footer-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>Copyright Human Life Alliance 2017</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
          {% if site.pinterest_username %}
          <li>
            {% include icon-pinterest.html username=site.pinterest_username %}
          </li>
          {% endif %}
          {% if site.youtube_username %}
          <li>
            {% include icon-youtube.html username=site.youtube_username %}
          </li>
          {% endif %}
          <br>
          <a class="footer-link" href="https://www.humanlife.org/hla-donor-privacy-policy/">HLA Donor Privacy Policy</a>
          <br>
          <a class="footer-link" href="https://www.humanlife.org/terms-service/">TERMS OF SERVICE</a>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
