---
layout: default
---
{% if page.type == "Publication" %}
	{% if page.price.amount %}
  		{% assign price-text = page.price.text %}
  		{% assign price-amount = page.price.amount %}
	{% else %}
  		{% assign price-text = site.price.publication.text %}
  		{% assign price-amount = site.price.publication.amount %}
  	{% endif %}
{% endif %}
{% if page.type == "DVD" %}
	{% if page.price.amount %}
  		{% assign price-text = page.price.text %}
  		{% assign price-amount = page.price.amount %}
	{% else %}
  		{% assign price-text = site.price.dvd.text %}
  		{% assign price-amount = site.price.dvd.amount %}
  	{% endif %}
{% endif %}
{% if page.type == "Fact Sheet" %}
	{% if page.price.amount %}
  		{% assign price-text = page.price.text %}
  		{% assign price-amount = page.price.amount %}
	{% else %}
  		{% assign price-text = site.price.fact-sheet.text %}
  		{% assign price-amount = site.price.fact-sheet.amount %}
  	{% endif %}
{% endif %}
{% if page.type == "Poster" %}
	{% if page.price.amount %}
  		{% assign price-text = page.price.text %}
  		{% assign price-amount = page.price.amount %}
	{% else %}
  		{% assign price-text = site.price.poster.text %}
  		{% assign price-amount = site.price.poster.amount %}
  	{% endif %}
{% endif %}
{% if page.type == "Other" %}
	{% if page.price.amount %}
  		{% assign price-text = page.price.text %}
  		{% assign price-amount = page.price.amount %}
	{% else %}
  		{% assign price-text = site.price.other.text %}
  		{% assign price-amount = site.price.other.amount %}
  	{% endif %}
{% endif %}
{% if page.type == "Bumper Sticker" %}
	{% if page.price.amount %}
  		{% assign price-text = page.price.text %}
  		{% assign price-amount = page.price.amount %}
	{% else %}
  		{% assign price-text = site.price.bumper-sticker.text %}
  		{% assign price-amount = site.price.bumper-sticker.amount %}
  	{% endif %}
{% endif %}
<div id="item-notification"></div>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content" itemprop="articleBody">
	<h2 class="post-title higher" itemprop="name headline">{{ page.title }}</h2>
  	{% if page.iframe %}
  		{{ page.iframe }}
  	{% else %}
  		<img class="item-image" src="{{ site.baseurl }}/images/{{ page.front-pic }}" alt="{{ page.title }}">
  	{% endif %}
	<div id="form_div" class="form-div">
		<h2 class="post-title lower" itemprop="name headline">{{ page.title }}</h2>
  		{% if page.no-description  %}
  		{% else %}
	  		
	    	{{ content }}
    	{% endif %}
		 <div class="add-to-cart-form">
		 	<input id="suggested-donation" type="radio" name="donation" value="suggested" onclick="suggested_donation();" checked="checked">
		 	<label for="suggested-donation">Suggested Donation - {{ price-text }}</label>
		 	<br>
  			<input id="no-donation" type="radio" name="donation" value="none" onclick="no_donation();">
  			<label for="no-donation">No Donation at this time - $0</label>
  			<br>
  			<h4 class="use-header">How will you be using this?</h4>
  			<select id="use" class="use" type="select" name="use">
				<option value="-- Please Select --">
					-- Please Select --   
				</option>
				<option value="Family/Personal">
					Family/Personal   
				</option>
				<option value="Community">
					Community   
				</option>
				<option value="Church">
					Church   
				</option>
				<option value="College">
					College   
				</option>
				<option value="High School">
					High School   
				</option>
				<option value="Pregnancy Resource Center">
					Pregnancy Resource Center   
				</option>
				<option value="Sidewalk Counseling">
					Sidewalk Counseling   
				</option>
			</select>
			<br>
			<p>Please allow 2-3 weeks for shipping. For Expedited Shipping call (651)-484-1040. <span id="no-donation-selected" style="display:none;">Each publication costs 30 cents to design, print and ship. Select the suggested donation amount of $0.30 cents to help us with these expenses or $0 for no donation at this time. HLA services and materials are free for your use. If you choose to make a different donation and support our efforts with today’s request, please check out the DONATE page. Thank you.</span></p>
			<p class="amount-green"><span id="amount-no-donation" style="display:none;">$0.00</span><span id="amount-suggested-donation">{{ price-text }}</span></p>
			
  			<input id="quantity" class="input-text qty text" step="1" min="1" max="99999" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">
  			<input type = "submit" class="shop-buttons" onclick="add_to_cart();" value="Add to Cart">
		</div> 
		{% if page.pdf %}<a class="shop-buttons" href="{{ site.url }}{{ site.baseurl }}/pdf/{{ page.pdf }}">View PDF</a>{% endif %}
		{% if page.citations %}<a class="shop-buttons" href="{{ site.url }}{{ site.baseurl }}{{ page.citations }}">View Citations</a>{% endif %}
  		{% if page.share %}{% include add-to-any.html %}{% endif %}
  	</div>
  	<div>
  		<h4 class="item-description">Categories:</h4>
    	<table class="categories">
    		<tbody>
    			<tr class="t-odd">
    				<td class="t-one">Issues</td>
    				<td><i>{{ page.issues }}</i></td>
    			</tr>
    			<tr class="t-even">
    				<td class="t-one">Type</td>
    				<td><i>{{ page.type }}</i></td>
    			</tr>
    			<tr class="t-odd">
    				<td class="t-one">Target Age</td>
    				<td><i>{{ page.target-age }}</i></td>
    			</tr>
    			<tr class="t-even">
    				<td class="t-one">Target Audience</td>
    				<td><i>{{ page.target-audience }}</i></td>
    			</tr>
    			<tr class="t-odd">
    				<td class="t-one">Language</td>
    				<td><i>{{ page.language }}</i></td>
    			</tr>
    		</tbody>
    	</table>

    </div>
  </div>
</article>
<script type="text/javascript">
	function add_to_cart () {
		{% if page.after-checkout %}
			var tmp = localStorage.getItem("after_checkout") || "";
			tmp = tmp + '{{ page.after-checkout }}';
			localStorage.setItem("after_checkout",tmp);
		{% endif %}
		var line_item = new Object();
		line_item.item = "{{ page.title }}";
		line_item.id_number = "{{ page.my_id }}";
		line_item.url = "{{ page.url }}";
		line_item.image = "{{ page.front-pic }}";
		line_item.donation = document.getElementById("suggested-donation").checked;
		line_item.suggested_donation = "{{ price-amount }}";
		line_item.quantity = document.getElementById("quantity").value;
		line_item.use = document.getElementById("use").value;
		var items = JSON.parse(localStorage.getItem("items")) || new Array();
		items.push(line_item);
		var myJSON = JSON.stringify(items);
		localStorage.setItem("items", myJSON);
		document.getElementById("item-notification").innerHTML = "<div><b>" + line_item.quantity + ' {{ page.title }} added to cart</b></div><div id="lower"><a class="shop-buttons" onclick="window.history.back();">Back</a><a class="shop-buttons" href="/cart/">Go to Cart</a></div>';
		scroll(0,0);
	}
	first_load();
	function first_load () {
		if(lsTest() === true){
			if (document.getElementById("no-donation").checked) {
				no_donation();
			};
		}else{
		    document.getElementById('form_div').innerHTML = "<p>Please Update Your Browser or Call in your order (651)-484-1040</p>";
		}
	}
	function suggested_donation () {
		document.getElementById('no-donation-selected').style.display = 'none';
		document.getElementById('amount-no-donation').style.display = 'none';
		document.getElementById('amount-suggested-donation').style.display = 'inline';
	}
	function no_donation () {
		document.getElementById('no-donation-selected').style.display = 'inline';
		document.getElementById('amount-no-donation').style.display = 'inline';
		document.getElementById('amount-suggested-donation').style.display = 'none';
	}
	function lsTest(){
	    var test = 'test';
	    try {
	        localStorage.setItem(test, test);
	        localStorage.removeItem(test);
	        return true;
	    } catch(e) {
	        return false;
	    }
	}
</script>
